<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/javascripts/materialize.js"></script>
  <script src="/javascripts/init.js"></script>
  <script src="/javascripts/funciones.js"></script>
 
</html>
